<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Karla:wght@400;500;600;700;800&display=swap">
    {%- render 'css-variables' -%}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {%- render 'meta-tags' -%}
    {{ content_for_header }}
  </head>
  <body>
    {% sections 'header-group' %}
    {{ content_for_layout }}
    {% sections 'footer-group' %}
  </body>
</html>
